body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header,
.hero {
    color: #e5e7eb;
    background-color: #1f2937;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 22%;
}

header span {
    font-weight: bold;
    font-size: 24px;
}

ul {
    list-style: none;
    font-size: 16px;
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb
}

.hero {
    gap: 48px;
}

.hero span {
    font-weight: bold;
    font-size: 48px;
    color: #f9faf8;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 6px 24px;
    border-radius: 6px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
}

.hero img {
    width: 350px;
}

footer {
    color: #e5e7eb;
    background-color: #1f2937;
    font-size: 16px;
    padding: 32px 22%;
    text-align: center;
}